html, body {
    height: 100vh;
    width: 100vw;
}

.calendar-screen {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.rbc-calendar {
    height: 100%;
}

/*Datepicker*/
.react-datetime-picker input:focus {
    outline: none;
}

.react-datetime-picker__wrapper {
    display: flex;
    border: 0 solid gray !important;
}

/* FABs */
.fab {
    border-radius: 100%;
    bottom: 25px;
    font-size: 15px;
    padding: 25px;
    position: fixed;
    right: 25px;
}

.fab-danger {
    bottom: 25px;
    position: fixed;
    left: 25px;
    padding: 10px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
